/*! Forms */
/* ==========================================================================
   Form styles:
   ========================================================================== */
::-webkit-input-placeholder {
  color: #CACAD9; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #CACAD9; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #CACAD9; }

:-ms-input-placeholder {
  color: #CACAD9; }

placeholder {
  color: #CACAD9; }

input[type=email], input[type=number], input[type=password], input[type=tel], input[type=text], input[type=url] {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  height: 50px;
  padding: 0 8px;
  margin: 0;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 15px;
  color: #404040; }
